.App {
  text-align: center;
  font-family: open sans,Arial,Helvetica Neue,sans-serif;
}
.background {
  background: linear-gradient(270deg, #1c8bd1, #9361ef);
  background-size: 400% 400%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  -webkit-animation: AnimationName 13s ease infinite;
  -moz-animation: AnimationName 13s ease infinite;
  animation: AnimationName 13s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
} 



.header-container {
  text-align: center;
  color: whitesmoke;
  font-weight: 300;
  font-size: 20px;
}
.game-container {
  margin: 40px;
  background-color: grey;
  color: whitesmoke;
  padding: 20px;
  border-radius: 3px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  border: 2px black;
  border-radius: 3px;
  margin: 8px;
  outline: none;
}

.correct {
  background-color: greenyellow;
}

.incorrect {
  background-color: red;
}

.beige {
  background-color: beige;
}